body {
	background-color: #fffaf0;
	font-size: 18px;
}

header {
	text-align: center;
	background-color: #d0f0ff;
	color: darkblue;
}

.avatar {
	width: 200px;
	height: 200px;
}

footer {
	text-align: center;
	background-color: #f0f0f0;
}
