input {
	width: 200px;
	height: 30px;
	border-radius: 10px;
}

#name-input {
	font-size: 16px;
	background-color: #f0f0f0;
}

.btn {
	background-color: lightblue;
	border-radius: 15px;
	cursor: crosshair;
	font-size: 16px;
}
