*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #000;
  color: white;
}
main{
  background: #575757;
  width: 70%;
  display: flex;
  flex-direction: column;
  margin-inline: auto;
}
.top-page{
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 20px;
padding-inline: 40px;
}
.profile{
  display: flex;
  justify-content: start;
  gap:20px;
}
.img{
  width: 140px;
  height: 140px;
  border: black 2px;
  background-color: lightgray;
}
.username{
  font-size: 24px;
}
.top-right{
display: flex;
flex-direction: column;
gap: 12px;
}
.lvl{
  border: whitesmoke 1px solid;
  border-radius: 50%;
  padding: 4px;
}
.top-text{
  font-size: 20px;
}
.top-buttons{
  display: flex;
  justify-content: space-between;
  gap: 4px;
}
.btn{
  background: #212064;
  border: none;
  color: white;
  padding: 4px;
}
.btn:hover{
  background: #323092;
}
.page{
  display: flex;
  justify-content: space-between;
  gap: 15px;
  padding: 20px;
}
.early-activity{
  flex: 1;
}
.sidebar{
  width: 300px;
  min-height: 300px;
  background: #000000a1;
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.sidebar-title{
  font-size: 14px;
}
.sidebar-number{
  font-size: 24px;
  color: gray;
}
.offline{
  font-size: 24px;
  color: gray;
}
.gray{
  color: gray;
  font-size: 14px;
}
.pin-list{
  display: flex;
  gap: 10px;
}
.pin{
  width: 50px;
  height: 50px;
  background-color: gray;
}
.freind-card{
  display: flex;
  justify-content: space-between;
}
.freind-image{
  width: 30px;
  height: 30px;
  background-color: gray;
}
.freind-profile{
  display: flex;
  gap: 2px;
}
.freind-list{
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.freind-lvl{
  align-self: center;
}
.early-activity-header{
  background: #19181fda;
  padding: 4px;
}
.early-activity-body{
  background: #0000007c;
}
.ea-img{
  width: 180px;
  height: 90px;
  background-color: gray;
}
.early-activity-item{
  padding: 6px;
  display: flex;
  justify-content: space-between;
}
.flex{
  display: flex;
  gap: 4px;
}
.hours{
  text-align: end;
  align-self: flex-end;
  color: gray;
}
